/* ------ CSS RESET ----- */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ------ Main Styling ------*/

body {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background-color:#222222;
    color: white;
    font-family:"AppleGothic"
} 

/*--------- Navigation --------*/


 ul {
    font-size: 20px;
}
        
ul li {
      display: inline-block;
      text-align: center;
}

li a {
     color: white;
     text-decoration: none;
}


nav { 
    display: grid;
    grid-template-columns: 100% 30%;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 1em 0;
    font-size: 20px;
}

nav ul {
    text-align: center;
    width: 300%;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 40px;
    margin-top: -7em;
    margin-left: -44em
        
        
}

nav ul li{
    display: inline;
    margin: 90px
}

nav a:link{color: white}

nav a:visited {color:white}

nav a:hover {border-bottom: none;
    color: #17A6AD}



/*----- intro -----*/

.split{
    height: 100%;
    width: 50%
}

.left{
    text-align: center;
}

.right{
    right: 0;
    margin-right: -120em;
    margin-top: -26em;
    width: 400px;
    padding-left: 17em
    
}


/*----- About section ------*/


.aboutme {
    font-size: 15px;
    padding-top: 5em
}

.abouttext {
    width: 80%;
    font-size: 25px;
    text-align: right;
    margin-right: 2em;
    padding-left: 12em;
}


.aboutimg {
    width:250px;
    height:70px;
}



/*------ Work ------*/

.work {
    padding-top: 17em;
    font-size: 15px
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 70%;
  max-width: 500px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 92%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}




/* Container needed to position the overlay. Adjust the width as needed */
.container2 {
  position: relative;
  width: 70%;
  max-width: 500px;
}

/* Make the image to responsive */
.image2 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 92%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay2 {
  opacity: 1;
}



/* Container needed to position the overlay. Adjust the width as needed */
.container3 {
  position: relative;
  width: 70%;
  max-width: 500px;
}

/* Make the image to responsive */
.image3 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay3 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 92%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container3:hover .overlay3 {
  opacity: 1;
}



/* Container needed to position the overlay. Adjust the width as needed */
.container4 {
  position: relative;
  width: 70%;
  max-width: 500px;
}

/* Make the image to responsive */
.image4 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay4 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 92%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container4:hover .overlay4 {
  opacity: 1;
}




/* ----------- typography ------------ */

p, li, {
    margin-bottom: 1.53em;
    line-height: 1.5em
}

h1 {
    color: white;
    font-size: 3.998em;
    margin-top: 1em;
    margin-bottom: 1em
}

h2 {
    font-size: 2.827em;
    margin: 1em 0;
    margin-top: 0.5em;
    padding-top: 0.1em
    
}

h3 {
    font-size: 1.999em;
    margin-bottom: 1em
}

header h3 {
    font-style: italic;
    font-size: 2.35em;
    margin-top: 1em;
    color: crimson;
    padding-bottom: 0.5px
}

/*------ Styling Links ------*/

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color:black;
    border-bottom: 1px dotted;
}


/* ------------- images ---------- */

img {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4em auto;
    padding: 0; 
    max-width: 100%
}


/* ------------- footer -------------*/

footer {
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0 4em
}

footer hr {
    margin: 7em;
}

.connections {
    position:relative;
    margin: 0 auto;
    margin: 20px, 0;
}

.connections ul {
    margin: 0;
    padding: 0;
}

.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections img {
    opacity: 0.5;
    border: none;
}

.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
} 

hr {
    margin: 1em 0;
    height: 1px;
    background-color: #c06;
    color: #c06;
    border: 0 none
}







